body {
    display: flex;
    flex-direction: column;
}

.bounce-container {
    display: flex;
    flex-direction: row;
}

.bouncer {
    animation: 10s linear alternate infinite bounce
}

h1 {
    flex-shrink: 1;
}

@keyframes bounce {
    from {
        flex-shrink: 1;
    }

    50% {
        flex-grow: 1;
    }

    to {
        flex-shrink: 1;
    }
}